body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f2e7;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .logo {
    margin-bottom: 20px;
  }
  
  .content {
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    justify-content: center;
    margin-left: 25px;
    margin-right: 25px;
  }
  
  .enter-game-btn {
    background-color: #ff7f7f;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .enter-game-btn:hover {
    background-color: #ff5b5b;
  }
  
  .disclaimer {
    font-size: 10px;
    margin-left: 15px;
    margin-right: 15px;
    color: #ff5b5b;
    justify-content: center;
  }
  