/* usernames.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #020100;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .logo {
    margin-bottom: 20px;
  }
  
  .content {
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    color: #f7f2e7;
    background-color: #333333;
    border-radius: 5px;
    padding: 6px 35px ;



  }
  
  p {
    font-size: 16px;
    color: #f7f2e7;
    line-height: 1.5;
    margin-bottom: 20px;
    justify-content: center;
    margin-left: 25px;
    margin-right: 25px;
  }
  
  .username-input,
  .enter-game-btn,
  .add-player-btn {
    background-color: #000000; /* Black background */
    color: #ffffff; /* White text color */
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: crosshair;
    transition: background-color 0.3s ease;
  }
  
  .username-input:hover,
  .enter-game-btn:hover,
  .add-player-btn:hover {
    background-color: #333333; /* Darker shade on hover */
  }
  
  .enter-game-btn,
  .add-player-btn {
    margin-top: 10px;
  }
  
  .disclaimer {
    font-size: 12px;
    font-style: italic;
    margin-left: 15px;
    margin-right: 15px;
    color: #fafafa;
    justify-content: center;
  }
  